body 
{background-color: chocolate;
 color: black;
 text-align: center;
}

section
{background-color: aliceblue;
 box-shadow: 2px 2px 5px brown;
 width: 90%;
 margin: 120px auto;
 padding-top: 25px;
 padding-bottom: 25px;
}

h1
{color: brown;
 font-size: 30px;
 font-family: Tahoma, sans-serif;
 margin: 0px;
 font-style: normal;
 text-transform: uppercase;
}

h2
{color: brown;
 font-size: 35px;
}

button
{color: white;
 background-color: brown;
 padding: 10px 20px;
 border: 2px solid brown;
 border-radius: 5px;
 cursor: pointer;
}